<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="form">
        <form action="/register" method="post" class="form1">
            <h2>Register</h2>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
            {% if messages %}
            <div role="alert">
                <!-- <strong>Flash AHHHHHHH!!!!</strong> -->
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name">
            </div>
            <div>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="email">Password</label>
                <input type="password" name="confirm">
            </div>
            <div>
                <label for="confirm">Confirm Password</label>
                <input type="password" name="password">
            </div>
            <div>
                <button class="btn" type="submit">Register</button>
            </div>



        </form>
        <form action="/login" method="post">
            <h2>Login</h2>

            {% with messages = get_flashed_messages(category_filter=['login']) %}
            {% if messages %}
            <div role="alert">
                <!-- <strong>Flash AHHHHHHH!!!!</strong> -->
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div>
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" name="password">
            </div>
            <div>
                <button class="btn" type="submit">Login</button>
            </div>





        </form>
    </div>


</body>

</html>